@model CarDumpApp.Models.CreateSetViewModel


<div id="EditSetPartialView">

    
    <input type="text" value="@Model.CDSet.Id" id="SID" hidden />
    <h3>This is list of files in Set</h3>

    <ul class="list-group">
        @foreach(var item in Model.CDSet.SetItems)
        {
            <li class="list-group-item" style="margin:2px;">
                @Html.ActionLink(item.CarDump.PersonalNumber, "Create", "CreateCarDumpRecord", null, new { id= item.Id }) |
               
                @item.CarDump.Module.Name |
                @item.CarDump.ModuleNumber |
                @item.CarDump.AutoModel.Name |
                @item.CarDump.AutoModel.AutoBrand.Name |

                @item.CarDump.ModuleNumber

                <span class="rembtn" cdid="@item.Id" style="color:red; cursor:pointer;">remove from set</span>
            </li>
        }
    </ul>
</div>