@using Microsoft.AspNet.Identity
@model CarDumpApp.Models.CreateSetViewModel




<div class="container">
    <div class="row">
        <h4>@Model.CDSet.AutoModel.AutoBrand.Name @Model.CDSet.AutoModel.Name @Model.CDSet.Year  </h4>
        @using(Html.BeginForm("Save", "CreateSets", FormMethod.Post, new { @id = "FMAIN" }))
        {
            @Html.HiddenFor(model => model.CDSet.Id)
            <label>Short description about set </label>
            <br />
            @Html.TextAreaFor(model => model.CDSet.Description, new { rows = "10", cols = "45" })
            <br />
            <label id="savereturn" style="margin:4px; color:#07b415;"></label>
            <br />
            <input type="submit" value="Save" class="btn btn-success" />
            @*<button name="action" value="delete">Удалить</button>*@
        }
    </div>





    <div class="row">
        <hr />
        @Html.Partial("EditSetPartial", Model)

    </div>

    <div class="row">

    </div>
    <div class="row">
        <hr />
        <h3>Click on item below to add to set</h3>

        @{Html.RenderAction("CarDumpsListByUserId", "AdminPanel", new
            {
                userId = User.Identity.GetUserId(),
                modelID = Model?.CDSet?.ModelId,
                year = Model?.CDSet?.Year
            });}
    </div>


</div>





@section scripts{

    <script type="text/javascript">


        $('#FMAIN').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action') || window.location.pathname,
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    //    alert('ok');
                    // alert($('#savereturn').text());
                    $('#savereturn').text('saved');
                    setTimeout(function () {
                        $('#savereturn').text('');
                    }, 1000);


                },
                error: function (jXHR, textStatus, errorThrown) {
                    //    alert(errorThrown);
                }
            });
        });


        $(".trline").click(function () {
            var id = $("#SID").val();
            var cardumpid = $(this).find('td:first').attr('cid');
            var act = "add";


            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditSet")/?SetItem=' + id + '&cditem=' + cardumpid + '&saction=' + act,
                success: function (data) {
                    $('#EditSetPartialView').replaceWith(data);

                    $(".rembtn").click(initDel);

                }
               ,
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });


        });


        function initDel() {
            var id = $("#SID").val();
            var cdid = $(this).attr("cdid");
            var act = "rem";
            //  alert(cdid+" "+id);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditSet")/?SetItem=' + id + '&cditem=' + cdid + '&saction=' + act,
                success: function (data) {

                    $('#EditSetPartialView').replaceWith(data);
                    $(".rembtn").click(initDel);
                }
              ,
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });

        }
        $(".rembtn").click(initDel);

    </script>

}