@model CarDumpApp.Models.CarDump
@using Microsoft.AspNet.Identity

@{
    string sTitle = $"{Model.AutoModel.AutoBrand.Name} {Model.AutoModel.Name} {Model.Year.ToString()} {Model.Module.Name} {Model.MemoryType.Name}";
    ViewBag.Title = sTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@sTitle</h2>  File URL
    @if(Request.IsAuthenticated)
    {
        @Html.ActionLink("Download File", "FileDownload", new { parentid = Model.Id }, null)
    }
    else
    {
        @Html.ActionLink("Login to get file", "Login","Account", null, null)
    }
    

    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt> Block </dt>
                <dd>@Html.DisplayFor(model => model.Module.Name)</dd>

                <dt>  Memory type  </dt>
                <dd> @Html.DisplayFor(model => model.MemoryType.Name)</dd>

                <dt>   Part number </dt>
                <dd> @Html.DisplayFor(model => model.ModuleNumber) </dd>

                <dt> Status </dt>
                <dd>@*проверена / не проверена*@ undefined </dd>

                <dt>MetricID</dt>
                <dd>Km</dd>

                <dt>Description</dt>
                <dd>@Html.DisplayFor(model => model.Description)  </dd>
            </dl>
        </div>

        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt> Transmission</dt>
                <dd> @Model.CarObject.TransmissionType.Name </dd>

                <dt>FuelTypeID</dt>
                <dd>@Model.CarObject.FuelType.Name </dd>

                <dt>Odometr </dt>
                <dd> @Model.CarObject.Odometr</dd>

                <dt> Odometr2 </dt>
                <dd>@Model.CarObject.Odometr2</dd>

                <dt> EngineCapacity</dt>
                <dd> @Model.CarObject.EngineCapacity</dd>

                <dt> CarDescription</dt>
                <dd>@Model.CarObject.Description</dd>
            </dl>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <img class="img-thumbnail" style="width:500px; height:350px" src="/UploadFilesPics/@Model.Pic1Url" />
            <p> Label image</p>
        </div>
        <div class="col-sm-6">
            <img class="img-thumbnail" style="width:500px; height:350px" src="/UploadFilesPics/@Model.Pic2Url" />
            <p> Module photo</p>
        </div>
    </div>

</div>


