@model CarDumpApp.Models.CarDump

@{
    string sTitle = $"{Model.AutoModel.AutoBrand.Name} {Model.AutoModel.Name} {Model.Year.ToString()} {Model.Module.Name} {Model.MemoryType.Name}";
    ViewBag.Title = sTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <div class="container">
     <div>
         <h2>@sTitle</h2>
         <hr />
         <dl class="dl-horizontal">
             <dt>
                 Block
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Module.Name)
             </dd>
             <dt>
                 Memory type
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.MemoryType.Name)
             </dd>

             <dt>
                 Part number
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.ModuleNumber)
             </dd>
             <dt>
                 File URL
             </dt>

             <dd>
                 @Html.ActionLink("Загрузить файл", "FileDownload", new { parentid = Model.Id }, null);
             </dd>
             <dt>
                 Status
             </dt>

             <dd>
                 @*проверена / не проверена*@ undefined
             </dd>

             <dt>
                 Description
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.Description)
             </dd>

         </dl>
     </div>

     <div class="row">

         <div class="col-sm-6">
             <img class="img-thumbnail" style="width:500px; height:350px" src="/UploadFilesPics/@Model.Pic1Url" />
             <p> Label image</p>
         </div>

         <div class="col-sm-6">
             <img class="img-thumbnail" style="width:500px; height:350px" src="/UploadFilesPics/@Model.Pic2Url" />
             <p> Module photo</p>
         </div>
     </div>



 </div>


