@model IEnumerable<CarDumpApp.Models.CarDump>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic1Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pic2Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemoryType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Module.Name)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pic1Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pic2Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Name)
            </td>
            <td>
                @Html.ActionLink("edit", "Create","CreateCarDumpRecord", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

