@model IEnumerable<CarDumpApp.Models.CarDump>


 <div class="row">

     <table class="table table-hover" style="margin-top:20px;">
         <thead>
             <tr style="background-color:#1a6358;color:#ffffff;">
                 <th>
                     <label class="control-label">Brand</label>
                 </th>
                 <th>
                     <label class="control-label">Model</label>
                 </th>
                 <th>
                     <label class="control-label">Year</label>
                 </th>
                 <th style="min-width:110px;">
                     <label class="control-label">Module type</label>
                 </th>
                 <th>
                     <label class="control-label">Memory type</label>
                 </th>
                 <th>
                     <label class="control-label">Partnumber</label>
                 </th>
                 <th>
                     <label class="control-label">Status</label>
                 </th>
                 <th>
                     <label class="control-label"> </label>
                 </th>

             </tr>
         </thead>
         @{
             if(Model != null)
             {
                 foreach(var item in Model)
                 {
                     <tr>
                         <td>
                             @Html.DisplayFor(modelItem => item.AutoModel.AutoBrand.Name)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.AutoModel.Name)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Year)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Module.Name)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.MemoryType.Name)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.ModuleNumber)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Checked)
                         </td>
                         <td>
                             @Html.ActionLink("edit", "Create", "CreateCarDumpRecord", new { id = item.Id }, null)
                         </td>
                     </tr>
                 }
             }
         }
     </table>

 </div>
