<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - cardump.com.ua</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse" style="background-color: rgba(34, 34, 34, 0.26);  border:none;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Complete sets", "CompleteSets", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("News", "Index", "News")</li>
                    <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <header class="jumbotron" style="background-image: url('../../Images/Home/phon4.png'); margin-top:-50px; margin-bottom:0px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>
                        @Html.ActionLink("MASTERDUMP", "Index", "Home", new { area = "" }, new { style = "font-weight: bold; color:#ffffff; font-family: times; " })
                    </h1>
                    
                </div>
                <div class="col-sm-6  ">
                  
                </div>
            </div>

            <p class="lead" style="color:#ffffff">


                Airbag, Dash, ECU, SRS, etc. Repair Information Database. EEPROM, FLASH files database (@{Html.RenderAction("NumerOfAllCarDumps", "Home"); } files ready)
                @*Сотки полезных прошивок, дампов, eeprom, flash, полезные выкладки для мастеров автомобильной электроники*@
            </p>
           



        </div>
    </header>

    @RenderBody()

    <div class="container body-content ">
        <hr />
        <footer style="text-align:center;">
            <p>&copy; @DateTime.Now.Year – MASTERDUMP  </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)
</body>
</html>
